@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #000000dc;
    font-family: 'Poppins';
    color: rgb(178, 204, 33);
}

nav{
    position: relative;
    margin-right: 40px;
    bottom: 108px;
    padding: 10px 20px;
}

h1{
    position: relative;
    margin-left: 80px;
    font-size: 40px;
}
h2{
    position: relative;
    margin-left: 80px;
    font-size: 35px;
    color: aqua;
}
a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    text-decoration: underline 2.5px;
}

p{
    font-size: 20px;
    position: relative;
    margin-left: 80px;
    text-align:justify;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.nav-list li{
    list-style: none;
    padding: 10px;
}

.button1{
    width: 200px;
    height: 70px;
    padding: 10px;
    background-color: rgb(255, 145, 0);
    color: #000000dc;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    border: 0px;
    border-radius: 7px;
    margin-top: 50px;
    margin-left: 80px;
}

.button2{
    position: relative;
    width: 200px;
    height: 70px;
    padding: 10px;
    background-color: transparent;
    border: 3px solid rgb(255, 72, 0);
    color: rgb(255, 38, 0);
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    margin-left: 50px;
}

.button1:hover{
    box-shadow: 2px 2px 10px rgba(255, 38, 0, 0.692);
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.171);
}

.button2:hover{
    text-shadow: 1px 1px 10px rgba(255, 60, 0, 0.692);
    box-shadow: 1px 1px 10px rgba(0, 255, 255, 0.692);
}